html{
    background-color: rgb(189, 228, 247);
    font-style: italic;
}
.titulo{
    font-size: 25px;
    color:black
}
div{
    font-size: 12px;
    color:rgb(2, 2, 97)

}
img{
    float: inline-end;
}
img{
    gap: 100px
}

#tabla-habilidades{
    font-size: 25px;
}

#contenido {
    width: 800px; margin: 0 auto;
}

.circular--square {
    border-radius: 50%;
  }