html{
    background-color: rgb(189, 228, 247);
    font-style: italic;
}
.titulo{
    font-size: 25px;
    color:black
}
div{
    font-size: 12px;
    color:rgb(2, 2, 97);
    background-color: rgb(134, 167, 137);

}
img{
    float: inline-end;
    gap: 100px
}

#tabla-habilidades{
    font-size: 25px;
}

#contenido {
    width: 800px; margin: 0 auto;
}

.circular--square {
    border-radius: 50%;
    
  }

#tabla-intereses{
    font-size: 18px;
    background-color: rgb(192, 232, 250);
}

.form-control{
    font-size: 25px;
}

.btn-btn-primary{
    font-size: 18px;
}

.email{
    font-size: 17px;
}

